.message-menu {
  background-color: white;
  height: 100vh;
  padding: 20px;
}

.test {
  height: 95vh;
  overflow: auto;
}

.column.p-0 {
  padding: 0
}

.p-10 {
  padding: 10px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mr-5 {
  margin-right: 5px;
}

.card-header.bs-none {
  box-shadow: none;
}

a.card-footer-item:hover {
  background-color: #2366d1 !important;
}