
.swal-button--confirm {
  background-color: #55acee;
}

.swal-button--confirm.swal-button--danger {
  background-color: #e64942;
}

a.card-footer-item:hover {
  background-color: #2366d1 !important;
}